
@{
    ViewBag.Title = "Categoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Categorias</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i>Lista de Categorias
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear Nueva Categoria</button>
            </div>
        </div>
        <hr />
        <table id="tabla" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Descripcion</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="ModalUserCreate">Users Creator</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="txtid" type="text" value="0" />

                <div class="row  g-1">
                   
                    <div class="col-sm-6">
                        <label for="txtdescripcion" class="form-label">Descripcion</label>
                        <input type="text" class="form-control" id="txtdescripcion"  autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="cboactivo" class="form-label">Activo</label>
                        <select id="cboactivo" class="form-select col-sm-6">

                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12 mt-2">
                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            This is a danger alert—check it out!
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <style>
        .btn-icon {
            margin-right: 5px;
        }
    </style>

    <script>
        var tabladata; // Declarar la variable en el ámbito global
        var filaseleccionada;
        $(document).ready(function () {
            tabladata = $("#tabla").DataTable({
                responsive: true,
                ordering: false,
                ajax: {
                    url: '@Url.Action("ListarUsuarios", "Home")',
                    type: "GET",
                    dataType: "json"
                },
                columns: [
                    { data: "Nombres" },
                    { data: "Apellidos" },
                    { data: "Correo" },
                    {
                        data: "Activo",
                        render: function (valor) {
                            if (valor) {
                                return '<span class="badge bg-success">Si</span>';
                            } else {
                                return '<span class="badge bg-danger">No</span>';
                            }
                        }
                    },
                    {
                        data: null,
                        defaultContent: '<button type="button" class="btn btn-primary btn-sm btn-icon btn-editar "><i class="fas fa-pen"></i></button>' +
                            '<button type="button" class="btn btn-danger btn-sm btn-icon btn-eliminar" ><i class="fas fa-trash"></i></button>',
                        orderable: false,
                        searchable: false,
                        width: "100px"
                    }
                ],
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
                }
            });
        });

        function abrirModal(json) {
            $("#txtid").val(0);
            $("#txtnombres").val("");
            $("#txtapellidos").val("");
            $("#txtcorreo").val("");
            $("#cboactivo").val(1);
            $("#mensajeError").hide();


            if (json != null) {
                $("#txtid").val(json.IdUsuario);
                $("#txtnombres").val(json.Nombres);
                $("#txtapellidos").val(json.Apellidos);
                $("#txtcorreo").val(json.Correo);
                $("#cboactivo").val(json.Activo == true ? 1 : 0);
            }
            $("#FormModal").modal("show");
        }

        $("#tabla tbody").on("click", '.btn-editar', function () {
            filaseleccionada = $(this).closest("tr");
            var data = tabladata.row(filaseleccionada).data();
            abrirModal(data);

        })

       $("#tabla tbody").on("click", '.btn-eliminar', function () {
    var usuarioseleccionado = $(this).closest("tr");
    var data = tabladata.row(usuarioseleccionado).data();

    swal({
        title: "Estás seguro?",
        text: "Una vez eliminado, no podrá recuperar este registro!",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn-primary",
        confirmButtonText: "Si, eliminar!",
        cancelButtonText: "No, cancelar!",
        closeOnConfirm: true,
    }, function () {
        $.ajax({
            url: '/Home/EliminarUsuario',
            type: "POST",
            data: JSON.stringify({ id: data.IdUsuario }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.resultado) {
                    tabladata.row(usuarioseleccionado).remove().draw();
                    swal("Eliminado!", "Su registro ha sido eliminado.", "success");
                } else {
                    swal("Error!", "Su registro no se ha podido eliminar.", data.mensaje, "error");
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    });

    console.log(data);
});


        function Guardar() {
            var Usuario = {
                IdUsuario: $("#txtid").val(),
                Activo: $("#cboactivo").val() == 1 ? true : false,
                Nombres: $("#txtnombres").val(),
                Apellidos: $("#txtapellidos").val(),
                Correo: $("#txtcorreo").val()

            }
            jQuery.ajax({
                url: '@Url.Action("GuardarUsuarios", "Home")',
                type: "POST",
                data: JSON.stringify({ obj : Usuario }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    $(".modal-body").LoadingOverlay("hide")
                    if (Usuario.IdUsuario == 0)
                    {
                        if (data.resultado != 0) {
                            Usuario.IdUsuario = data.resultado;
                            tabladata.row.add(Usuario).draw(false);
                            $("#FormModal").modal("hide");
                        }
                        else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }

                    }
                    else {
                        tabladata.row(filaseleccionada).data(Usuario).draw(false);
                    }

                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide")
                    $("#mensajeError").text("Error Ajax");
                    $("#mensajeError").show();

                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageresizeFactor: 2,
                        text: "Guardando...",
                        size: 14


                    })
                },
            });
        }

    </script>
}

