@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        PROBANDOOO Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        INSERT INTO distrito (IdDistrito, Descripcion, IdProvincia, IdDepartamento) VALUES
        ('010101', 'Nieva', '0101', '01'),
        ('010102', 'El Cenepa', '0101', '01'),
        ('010201', 'Camaná', '0102', '01'),
        ('010202', 'José María Quimper', '0102', '01'),
        ('020101', 'Ica', '0201', '02'),
        ('020102', 'La Tinguiña', '0201', '02'),
        ('020201', 'Chincha Alta', '0202', '02'),
        ('020202', 'Alto Laran', '0202', '02'),
        ('030101', 'Lima', '0301', '03'),
        ('030102', 'Ancón', '0301', '03'),
        ('030201', 'Barranca', '0302', '03'),
        ('030202', 'Paramonga', '0302', '03');

        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>