
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i>Lista de usuarios
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success">Crear Nuevo Usuario</button>
            </div>

        </div>
        <hr />
        <table id="tabla" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Activo</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script>
        $(document).ready(function() {
            var tablaData;
            
            jQuery.ajax({
                url: '@Url.Action("ListarUsuarios","Home")',
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                    tablaData = $("#tabla").DataTable({
                        responsive: true,
                        ordering: false,
                        "ajax": {
"url": '@Url.Action("ListarUsuarios","Home")',
                            "type": "GET",
                            "dataType": "json",
                         
                        },
                        "columns": [
                            { "data": "Nombres" },
                            { "data": "Apellidos" },
                            { "data": "Correo" },
                            {
                                "data": "Activo", "render": function (valor) {
                                    if (valor) {
                                        return '<span class="badge bg-success">Si</span>'
                                    } else {
                                        return '<span class="badge bg-danger">No</span>'

                                    }
                                }
                            },
                        ]
                    })
                }
            });
        });
    </script>
}
